---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import HookSection from "@/components/sections/HookSection.astro";
import WorkflowSection from "@/components/sections/WorkflowSection.astro";
import PricingSection from "@/components/sections/PricingSection.astro";
---

<Layout>
  <main class="z-50 overflow-x-hidden">
    <HeroSection />

    <HookSection />
    <WorkflowSection />
    <PricingSection />
    <!--<FaqsSection />
    <TestimonialsSection />
    <ContactSection /> -->
  </main>
</Layout>
