---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import HookSection from "@/components/sections/HookSection.astro";
---

<Layout>
  <main>
    <HeroSection />
    <HookSection />
    <!--<WorkflowSection />
    <PricingSection />
    <FaqsSection />
    <TestimonialsSection />
    <ContactSection /> -->
  </main>
</Layout>
