---
import { AnimatedSpan, Terminal } from "@/components/magicui/terminal";
import TypeWritter from "@/components/kokonutui/type-writer";
---

<Terminal>
  <TypeWritter
    client:load
    sequences={[{ text: "> Crear página web profesional", deleteAfter: false }]}
    autoLoop={false}
  />

  <AnimatedSpan client:load delay={4000} className="text-green-500">
    <span>✔ Diseño seleccionado.</span>
  </AnimatedSpan>

  <AnimatedSpan client:load delay={5000} className="text-green-500">
    <span>✔ Desarrollo completado.</span>
  </AnimatedSpan>

  <AnimatedSpan client:load delay={6000} className="text-green-500">
    <span>✔ Optimización SEO realizada.</span>
  </AnimatedSpan>

  <AnimatedSpan client:load delay={7000} className="text-green-500">
    <span>✔ 1ª posición en Google confirmada.</span>
  </AnimatedSpan>

  <AnimatedSpan client:load delay={8000}>
    <div class="flex items-start gap-2 mt-4">
      <span>🚀</span>
      <span class=""> Negocio listo para despegar.</span>
    </div>
  </AnimatedSpan>
</Terminal>
